@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #f7f7f7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button {
	cursor: pointer;
	border-width: 2px;
	border-radius: 0.5rem;
	padding: 0.75rem 2rem 0.75rem 2rem;
	border-color: #0147ff;
	font-size: small;
	font-family: 'Roboto Flex';
	transition: 0.3s;
	text-align: center;
}
